cfg/360controller-linux.cfg
cfg/360controller.cfg
cfg/chapter1.cfg
cfg/chapter2.cfg
cfg/chapter3.cfg
cfg/config_default.cfg
cfg/mapcycle_beta_asteroid.txt
cfg/mapcycle_beta_cactus_canyon.txt
cfg/mapcycle_beta_mannpower.txt
cfg/mapcycle_default.txt
cfg/mapcycle_doomsday_event_247.txt
cfg/mapcycle_featured_maps.txt
cfg/mapcycle_halloween.txt
cfg/mapcycle_halloween_event_247.txt
cfg/mapcycle_hightower_event_247.txt
cfg/mapcycle_invasion_maps.txt
cfg/mapcycle_ladder.txt
cfg/mapcycle_lakeside_event_247.txt
cfg/mapcycle_mannpower.txt
cfg/mapcycle_quickplay_arena.txt
cfg/mapcycle_quickplay_attackdefense.txt
cfg/mapcycle_quickplay_cp.txt
cfg/mapcycle_quickplay_ctf.txt
cfg/mapcycle_quickplay_koth.txt
cfg/mapcycle_quickplay_misc.txt
cfg/mapcycle_quickplay_passtime.txt
cfg/mapcycle_quickplay_payload.txt
cfg/mapcycle_quickplay_payloadrace.txt
cfg/motd_default.txt
cfg/motd_text_default.txt
cfg/mtp.cfg
cfg/pure_server_full.txt
cfg/pure_server_minimal.txt
cfg/pure_server_whitelist.txt
cfg/pure_server_whitelist_example.txt
cfg/replay_example.cfg
cfg/server_247_mannpower.cfg
cfg/server_247_rounds.cfg
cfg/server_bootcamp.cfg
cfg/server_casual.cfg
cfg/server_casual_max_rounds_win_conditions.cfg
cfg/server_casual_max_rounds_win_conditions_custom.cfg
cfg/server_casual_max_rounds_win_conditions_mannpower.cfg
cfg/server_casual_rounds_win_conditions.cfg
cfg/server_casual_stopwatch_win_conditions.cfg
cfg/server_competitive.cfg
cfg/server_competitive_max_rounds_win_conditions.cfg
cfg/server_competitive_max_rounds_win_conditions_high_skill.cfg
cfg/server_competitive_rounds_win_conditions.cfg
cfg/server_competitive_rounds_win_conditions_high_skill.cfg
cfg/server_competitive_stopwatch_win_conditions.cfg
cfg/server_competitive_stopwatch_win_conditions_high_skill.cfg
cfg/server_custom.cfg
cfg/server_limited_rounds.cfg
cfg/server_limited_time.cfg
cfg/server_mannup.cfg
cfg/server_matchmaking_base.cfg
cfg/server_mvm.cfg
cfg/server_net_chan_extend.cfg
cfg/sfm_defaultanimationgroups.txt
cfg/sourcemod/sm_warmode_off.cfg
cfg/sourcemod/sm_warmode_on.cfg
cfg/sourcemod/sourcemod.cfg
cfg/sourcevr_tf.cfg
cfg/trusted_keys_base.txt
cfg/trusted_keys_example.txt
cfg/undo360controller.cfg
cfg/unencrypted/
cfg/vscript_convar_allowlist.txt

addons/metamod*
addons/metamod/
addons/sourcemod/
!addons/sourcemod/configs

bin/

custom/
!custom/pugs/

download/
downloadlists/
gameinfo.txt
item_whitelist_example.txt
maps/
materials/
modelsounds.cache
resource/

scripts/
!scripts/vscripts/

steam.inf
*.vpk*
workshop/
